@charset "UTF-8";
/* CSS Document */

/* These styles are only for prototype--DO NOT PUT INTO PROJECT */
@font-face {
  font-family: "Avenir-Roman";
  src: url("fonts/Avenir-Roman.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Light";
  src: url("fonts/Avenir-Light.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Medium";
  src: url("fonts/Avenir-Medium.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Heavy";
  src: url("fonts/Avenir-Heavy.woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Avenir-Roman", sans-serif;
  color: #444;
  font-size: 12px;
  line-height: 14px;
  min-width: 600px;
}

header {
  height: 49px;
  border-bottom: 1px solid #f05323;
  text-align: center;
  line-height: 49px;
  font-size: 24px;
  background: -moz-linear-gradient(left, #f05323 141px, #ffffff 142px);
  background: -webkit-linear-gradient(left, #f05323 141px, #ffffff 142px);
  background: linear-gradient(to right, #f05323 141px, #ffffff 142px);
  margin-bottom: 45px;
}
section {
  padding: 0px 20px;
}
.breadcrumbs_Questionnaire {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.breadcrumbs_Questionnaire a {
  color: #137aaa;
  text-decoration: none;
}
footer {
  background: #f9f9f9;
  border-top: 1px solid #c6c7c9;
  height: 300px;
  text-align: center;
  line-height: 300px;
  font-size: 24px;
  margin-top: 40px;
}

/* The above styles are only for prototype--DO NOT PUT INTO PROJECT */

/*_________________________________________*/
.clear {
  clear: both;
}
#Questionnaire {
  padding: 20px;
  margin: 20px auto;
  clear: both;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #f9f9f9;
  padding-left: 30px;
  padding-right: 30px;
}
#Questionnaire h2 {
  font-size: 25px;
  line-height: 27px;
  margin-top: 0px;
  margin-bottom: 40px;
  text-align: center;
  width: auto !important;
  position: relative;
  text-transform: capitalize;
  white-space: nowrap;
}
#Questionnaire h2::after {
  border: 1px solid #333;
  content: "";
  display: block;
  margin: 0 auto;
  width: 80px;
  position: relative;
  bottom: -20px;
}
#Questionnaire p {
  line-height: 16px;
  margin-bottom: 8px;
}
#questionnaireContent {
  display: flex;
  align-items: stretch;
}
#fulfillmentPartnerProfile {
  width: 100%;
}
#questionnaireContent .qSections,
#questionnaireContent .qForm {
  min-width: 145px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  flex-grow: 0;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  padding-top: 34px;
}
#questionnaireContent .qSections {
  max-width: 250px;
}
#questionnaireContent .qSections a {
  color: #444;
}
#questionnaireContent .qSections a:hover,
#questionnaireContent .qSections a.active {
  color: #f05323;
}
#questionnaireContent .qSections a.active {
  border-left: 3px solid #f05323;
}
#questionnaireContent .qForm {
  flex-grow: 1;
  margin-right: 0px;
  padding: 51px 15px 15px 15px !important;
}
#Questionnaire h3 {
  font-size: 14px;
  line-height: 16px;
  font-family: "Avenir-Heavy", sans-serif;
}
#Questionnaire h4 {
  font-size: 14px;
  margin-bottom: -5px;
  margin-top: 10px;
}
#Questionnaire h5 {
  font-family: "Avenir-Heavy", sans-serif;
  color: #333;
  background-color: #fac6b7;
  font-size: 16px;
  line-height: 14px;
  padding: 10px 15px;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}
#Questionnaire h6 {
  font-size: 13px;
  line-height: 14px;
  padding: 10px 0px;
  margin-bottom: 10px;
}
#questionnaireContent .qSections ul {
  margin: 0px;
}
#questionnaireContent .qSections ul li {
  margin: 0px;
  white-space: nowrap;
  font-family: "Avenir-Roman", sans-serif;
}
#questionnaireContent .qSections ul li.selected {
  margin: 10px 0px;
  cursor: default;
  color: #f05323;
  font-family: "Avenir-Heavy", sans-serif;
}
#questionnaireContent .qSections ul li a {
  padding: 10px 15px;
  display: block;
  white-space: normal;
  border-bottom: 1px solid #dddddd;
}

#questionnaireContent label {
  display: block;
  line-height: 16px;
  margin-bottom: 10px;
  padding-left: 3px;
}
.formgroup label.newlabel {
  border: 1px solid #ddd;
  padding: 3px 10px;
  cursor: inherit;
}
input[type="date"],
input[type="tel"],
input[type="email"],
input[type="text"] {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: "Avenir-Roman", sans-serif;
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: block;
  line-height: 20px;
  padding-left: 3px;
  margin-left: -3px;
  width: 99%;
}
#companyNameTypeBlock {
  margin-bottom: 15px;
}
#companyNameLabel {
  display: inline-block;
}
#companyNameLabel input {
  width: 99%;
}
#contactInfoDateBlock {
  display: block;
  margin-bottom: 10px;
}
#contactInfo .InfoDatesBlock {
  display: inline-block;
  margin-right: 20px;
}
#contactInfo .InfoDatesBlock input {
  width: 155px;
}

#questionnaireContent textarea {
  display: block;
  width: 99%;
  margin-bottom: 20px;
  resize: vertical;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: "Avenir-Roman", sans-serif;
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
  line-height: 20px;
  padding-left: 3px;
  margin-left: -3px;
}

#companyTypeTitle {
  display: block;
}
#companyTypeTitle label {
  display: inline-block;
}
#CompanyTypeBlock {
  display: inline-block !important;
}
#CompanyTypeBlock label {
  margin-bottom: 0px;
}
.nameTitleBlock {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  width: 99.3%;
  margin-bottom: 10px;
}
.phoneFAXblock {
  display: grid;
  grid-template-columns: 25% 25% auto;
  grid-gap: 20px;
  width: 99.3%;
  margin-bottom: 10px;
}
.phoneFAXblock input,
.nameTitleBlock input {
  width: 100%;
}
#parentCompanyNameBlock {
  display: block;
  margin-bottom: 20px !important;
}
.formgroup img {
  max-width: 100%;
}
@media (max-width: 800px) {
  .nameTitleBlock {
    grid-template-columns: auto;
    grid-gap: 10px;
  }
  .phoneFAXblock {
    grid-template-columns: auto;
    grid-gap: 15px;
  }
}
@media (max-width: 800px) {
  #companyTypeTitle,
  #CompanyTypeBlock {
    display: block;
  }
  #CompanyTypeBlock label {
    display: block;
  }
  input[type="tel"] {
    width: 100%;
  }
}
.facilitiesBlock {
  margin-bottom: 20px;
  border-bottom: solid 1px #888;
}
.facilitiesBlock h6 {
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.facilitiesInfoBlock {
  display: flex;
  align-items: stretch;
}
.facilitiesInfoBlock label {
  flex-grow: 1;
  margin-bottom: 10px;
}

@media (max-width: 850px) {
  .facilitiesInfoBlock {
    display: block;
  }
  .facilitiesInfoBlock label {
    display: block;
  }
}
#fulfillmentBlocks div:last-child,
#referenceBlocks div:last-child,
#facilitiesBlocks div:last-child {
  border: none;
  margin-bottom: 0px;
}
.referenceblock {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px 15px;
  padding-bottom: 10px;
  border-bottom: solid 1px #aaa;
  margin-bottom: 20px;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(221, 221, 221, 1) 0%,
    rgba(255, 255, 255, 1) 70%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(221, 221, 221, 1) 0%,
    rgba(255, 255, 255, 1) 70%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(221, 221, 221, 1) 0%,
    rgba(255, 255, 255, 1) 70%
  );
}
.qForm div.referenceblock.last {
  border: none;
  margin-bottom: 0px;
}
.referenceblock label {
  margin-bottom: 0px;
  width: 100%;
}
.referenceblock label input[type="text"] {
  width: 99%;
}
@media (max-width: 1200px) {
  .referenceblock {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 800px) {
  .referenceblock {
    grid-template-columns: auto;
  }
}
.termsTable {
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 0px 1px #ddd;
  margin-bottom: 12px;
  margin-top: 12px;
  float: left;
  margin-right: 20px;
  max-width: 50%;
  min-width: 350px;
}
.termsTable.first {
  margin-top: 3px;
}
.termsTable th {
  font-family: "Avenir-Medium", sans-serif;
  color: #333;
  background-color: #fac6b7;
  font-size: 12px;
  line-height: 24px;
  border: 1px solid #fff;
  text-align: left;
  text-indent: 5px;
}
.termsTable td {
  border: 1px solid #ddd;
  padding: 5px;
  font-size: 11px;
  line-height: 13px;
  vertical-align: middle;
}
.termsTable tr:nth-child(even) {
  background: #eee;
}

#questionnaireContent .qForm ul {
  margin-top: -5px;
  margin-bottom: 8px;
}
#questionnaireContent .qForm ul li {
  list-style: none;
  padding-left: 10px;
  position: relative;
  line-height: 16px;
  margin-top: 8px;
}
/* #questionnaireContent .qForm ul li::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0px;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background: #F05323;
} */

/*_________________Buttons_________________*/
.buttons {
  padding-top: 19px;
  clear: both;
}
button, a.btn {
  font-size: 14px;
  line-height: 14px;
  padding: 5px 8px !important;
  background: #555555;
  color: #fff !important;
  cursor: pointer;
  font-family: "Avenir-Light", sans-serif;
  display: inline-block;
  margin-right: 10px;
  border: solid 1px #555555;
  border-radius: 5px;
}
button:hover, a.btn:hover {
  background: #fff;
  color: #555555 !important;  
}
button.orange, .btn.orange {
  background: #f05323;
  border: solid 1px #f05323;
}
button.orange:hover, .btn.orange:hover {
  color: #f05323;
  background: #fff;
}
button.right, .btn.right {
  float: right;
  margin-right: auto;
  margin-left: 10px;
}
.partner-sections {
  display: flex;
  flex-wrap: wrap;
}
.partner-sections > div {
  max-width: 65%;
  min-width: 31%;
  margin: 20px 1%;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.partner-sections > div.companylist {
  width: 65%;
}
.partner-sections > div.companylist table {
  width: 100%;
}
.partner-sections > div.companylist table td {
  padding: 10px 15px;
  color: #333;
}
.partner-sections > div.companylist table td a {
  color: #111111;
}
.partner-sections > div.companylist table tr td:last-child {
  width: 100px;
}
.partner-sections h3 {
  color: #f05323;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}
.partner-sections h3 a {
  color: #333333;
  float: right;
}
.partner-sections ul {
  margin: 0px;
}
.partner-sections ul li:last-child a {
  border: none;
}
.partner-sections ul li a {
  color: #333333;
  padding: 10px 15px;
  display: flex;
  border-bottom: 1px solid #dddddd;
  justify-content: space-between;
}
.partner-sections ul li:nth-child(odd) a {
  background-color: #ffffff;
}
.partner-sections ul li a span i {
  margin-left: 10px;
}
.formgroup {
  width: 100%;
  display: table;
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
}
.formgroup > div {
  width: 50%;
  padding: 0px 10px;
  float: left;
}
.formgroup > div.left {
  text-align: right;
}
#addButton {
  margin: 10px;
  float: right;
}

.formgroup table {
  width: 100%;
  margin: 20px auto;
}
.formgroup table th {
  font-weight: bold;
  background: rgba(250, 198, 183, 0.8);
  font-size: 14px;
}
.formgroup table th,
.formgroup table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
}
.formgroup table tr th:last-child,
.formgroup table tr td:last-child {
  border-right: 1px solid #666666;
}
.formgroup table tr:last-child {
  border-bottom: 1px solid #666666;
}
.formgroup table tbody tr:nth-child(odd),
.formgroup table tr.bg {
  background-color: rgba(170, 170, 170, 0.5);
  color: #000000;
}
.formgroup table tr.nobg {
  background-color: #ffffff !important;
}
ul.disc {
  padding-left: 30px;
}
ul.disc li {
  list-style: disc !important;
  padding-left: 0px !important;
}
a.dashboard {
  float: right;
}

table.dashboard-table {
  width: 100%;
  text-align: left;
  border-radius: 2px;
  overflow: hidden;
}
table.dashboard-table tr th {
  font-weight: bold;
  background: rgba(250, 198, 183, 0.8);
  font-size: 13px;
}

table.dashboard-table tr th,
table.dashboard-table tr td {
  padding: 10px;
  text-align: left;
  color: #000;
  vertical-align: top;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
}
table.dashboard-table tr td ul {
  list-style: none;
}
table.dashboard-table tr td a {
  padding: 5px 0px;
  display: inline-block;
  font-weight: bold;
  color: #222222;
}
table.dashboard-table tr td a:hover {
  color: #f05323;
}
table.dashboard-table tr th:last-child,
table.dashboard-table tr td:last-child {
  border-right: 1px solid #999999;
}
table.dashboard-table tr:last-child {
  border-bottom: 1px solid #999999;
}
